openai
python-dotenv
google.generativeai
pollinations
Pillow
speechrecognition
pygame
eel
pandas
requests
google
falconai==0.0.2
packaging
beautifulsoup4
bs4
pyttsx3
docx2txt
langchain_community
litellm
